body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
  margin-top: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.header {
  background-color: #6b1b85;
  padding-bottom: 50px;
}
.header__list {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 50px;
}
.header__section {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
}
.header__section:hover {
  text-decoration: underline;
}
.header__title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.header__describe {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.todo {
  padding-top: 20px;
  padding-bottom: 50px;
}
.todo__title {
  font-size: 36px;
  font-weight: 700;
  color: #252424;
  text-align: center;
  padding-bottom: 40px;
}
.todo__sort-wrap {
  display: flex;
  justify-content: center;
}
.todo__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
}
.todo__add-btn, .todo__sort {
  display: block;
  margin: 0 auto;
  border: 1px solid #6b1b85;
  border-radius: 5px;
  background-color: #6b1b85;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 20px 110px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
  margin-top: 17px;
}
.todo__btn:hover, .todo__btn:focus {
  background-color: transparent;
  color: #6b1b85;
}
.todo .task__item {
  background-color: #6b1b85;
  padding: 20px;
  border: 2px solid #252424;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.todo .task__name {
  color: #fff;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.todo .task__completed, .todo .task__delete {
  border: 1px solid #252424;
  border-radius: 5px;
  background-color: #4a2158;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
  margin-top: 20px;
}
.todo .task__completed:hover, .todo .task__delete:hover,
.todo .task__completed:focus, .todo .task__delete:focus {
  background-color: #fff;
  color: #6b1b85;
}
.todo .done {
  background-color: rgba(25, 159, 54, 0.9019607843);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms, visibility 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 385px;
  min-height: 381px;
  background-color: #6c676e;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
}
.modal__close {
  display: flex;
  background-color: transparent;
  border: none;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.modal__icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: #fff;
  fill: #fff;
}
.modal__title {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.6px;
  padding-bottom: 30px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  margin-left: 40px;
}
.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.12px;
  color: #fff;
  margin-left: 40px;
}
.modal__input, .modal__level {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 26px;
  max-width: 300px;
}
.modal__input::-moz-placeholder, .modal__level::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.modal__input::placeholder, .modal__level::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.modal__save-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.modal__save {
  border: 1px solid #6b1b85;
  border-radius: 5px;
  background-color: #6b1b85;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 30px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
  margin-top: 20px;
}
.modal__save:hover, .modal__save:focus {
  background-color: transparent;
  color: #6b1b85;
}

.habits {
  padding-top: 50px;
  padding-bottom: 50px;
}
.habits__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: -moz-max-content;
  max-width: max-content;
}
.habits__sublist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 30px;
}
.habits__item {
  background-color: #6b1b85;
  padding: 20px;
  border: 2px solid #252424;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.habits .habit__name {
  color: #fff;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.habits .habit__completed, .habits .habit__delete {
  border: 1px solid #252424;
  border-radius: 5px;
  background-color: #4a2158;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
  margin-top: 20px;
}
.habits .habit__completed:hover, .habits .habit__delete:hover,
.habits .habit__completed:focus, .habits .habit__delete:focus {
  background-color: #fff;
  color: #6b1b85;
}
.habits__select {
  margin-top: 15px;
  cursor: pointer;
  max-width: 200px;
}
.habits__option {
  cursor: pointer;
}
.habits .done {
  background-color: rgba(25, 159, 54, 0.9019607843);
}

.notes {
  padding-top: 50px;
  padding-bottom: 50px;
}
.notes__input {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #6b1b85;
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 26px;
  max-width: 700px;
}
.notes__input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #6b1b85;
}
.notes__input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #6b1b85;
}
.notes__btn {
  border: 1px solid #6b1b85;
  border-radius: 5px;
  background-color: #6b1b85;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 30px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
  margin-top: 20px;
}
.notes__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.notes__item {
  background-color: #6b1b85;
  padding: 20px;
  border: 2px solid #252424;
  border-radius: 4px;
  margin: 30px;
  min-width: 450px;
}
.notes__text {
  color: #fff;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}
.notes .note__delete {
  border: 1px solid #252424;
  border-radius: 5px;
  background-color: #4a2158;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}
.notes .note__delete:hover {
  background-color: #fff;
  color: #6b1b85;
}/*# sourceMappingURL=styles.css.map */