body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}
*,
::after,
::before {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0;
    margin-top: 0;
}
ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
img{
    display: block;
    width: 100%;
}
.container{ 
    width: 480px; 
    padding-left: 15px; 
    padding-right: 15px; 
    margin: 0 auto; 
} 
@media screen and (min-width: 768px){ 
    .container{ 
        width: 768px; 
    } 
} 
@media screen and (min-width: 1200px){ 
    .container{ 
        width: 1200px; 
    } 
}

.header{
    background-image: url(./background_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    &__list{
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
    &__section{
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        font-weight: 400;
        &:hover{
            text-decoration: underline;
        }
    }
    &__title{
        font-size: 36px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        padding-top: 50px;
    }
    &__describe{
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 50px;
    }
}
.todo{
    padding-top: 20px;
    padding-bottom: 30px;
    &__title{
        font-size: 36px;
        font-weight: 700;
        color: #252424;
        text-align: center;
        padding-bottom: 40px;
    }
    // &__add{
    //     display: flex;
    // }
    // &__input{
    //     border-radius: 5px;
    //     border: 1px solid #252424;
    //     background-color: transparent;
    //     padding-top: 6px;
    //     padding-bottom: 6px;
    //     padding-left: 10px;
    //     padding-right: 15px;
    //     max-width: 50px;
    //     &::placeholder{
    //         font-family: 'Poppins', sans-serif;
    //         font-size: 10px;
    //         font-weight: 400;
    //         color: #252424;
    //     }
    // }
     &__add-btn{
        display: block;
        margin: 0 auto;
        border: 1px solid #6b1b85;
        border-radius: 5px;
        background-color: #6b1b85;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding: 20px 110px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
        margin-top: 17px;
    }
    &__btn:hover,
    &__btn:focus{
        background-color: transparent;
        color: #6b1b85;
    }
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms,
      visibility 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
      opacity: 1;
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 385px;
    min-height: 381px;
    background-color: #6c676e;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
    &__close{
      display: flex;
      background-color: transparent;
      border: none;
      margin-left: 5px;
      margin-top: 5px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    &__icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: #fff;
  fill: #fff;
}
&__title{
     font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.6px;
    padding-bottom: 30px;
}
&__describe{
    font-size: 15px;
        font-weight: 400;
        color: #fff;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 50px;
        margin-left: 40px;
}
&__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
&__input{
    margin-top: 50px;
    margin-left: 40px;
        border-radius: 5px;
        border: 1px solid #fff;
        background-color: transparent;
      padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 26px;
        padding-right: 26px;
        min-width: 300px;
        &::placeholder{
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            font-weight: 400;
            color: #fff;
        }
}
&__save-wrap{
    display: flex;
    justify-content: center;
}
&__save{
     border: 1px solid #6b1b85;
        border-radius: 5px;
        background-color: #6b1b85;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding: 15px 30px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
        margin-top: 40px;
    }
    &__save:hover,
    &__save:focus{
        background-color: transparent;
        color: #6b1b85;
    }
}

